html {
  scroll-behavior: smooth;
}

#branding{
	font-family: 'Galada', cursive;
}

#myname {
	font-size: 80px;
	font-family: 'Galada', cursive;
	padding-top: 100px;
}



#aboutmename {
	font-size: 70px;
	font-family: 'Galada', cursive;
	padding-top: 50px;
}

#myprojects {
	font-size: 70px;
	font-family: 'Galada', cursive;
	padding-top: 50px;
}

#contactme {
	font-size: 70px;
	font-family: 'Galada', cursive;
	padding-top: 50px;
}


#content{
	font-family: 'Bree Serif', serif;
	font-size: 20px;
}

#tagline{
	font-family: 'Bree Serif', serif;
	font-size: 40px;
}

#objectives{
	font-family: 'Bree Serif', serif;
	font-size: 20px;
	margin: 10px 10px;
}

#ako{
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 50px;
  	margin-bottom: 50px;
  	width: 30%;
  	box-shadow: 30px 30px 5px #ccc;
    -moz-box-shadow: 30px 30px 5px #ccc;
    -webkit-box-shadow: 30px 30px 5px #ccc;
    -khtml-box-shadow: 30px 30px 5px #ccc;

}

img{
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 30%;
  	box-shadow: 30px 30px 5px #ccc;
    -moz-box-shadow: 30px 30px 5px #ccc;
    -webkit-box-shadow: 30px 30px 5px #ccc;
    -khtml-box-shadow: 30px 30px 5px #ccc;
}

#projecttitle {
	font-size: 20px;
	font-family: 'Galada', cursive;
}

#capsdescription {
	font-family: 'Bree Serif', serif;
	font-size:16px;
}

#contactmessage{
	font-family: 'Bree Serif', serif;
	font-size: 20px;
}

#allrights{
	font-family: 'Galada', cursive;
	font-color: white;
	font-size: 12px;
}


iframe{
	margin-bottom: 10vh;
}
#myprojects, #aboutmename{
	margin-top: 5vh;
}

footer{
	margin-top: 5px;


.fab{
	size: 7px;
}

body{
	background-color: yellow;
}

#welcome, #aboutme, #projects, #contactme a:hover {
  background-color: #ddd;
  color: black;
}

#welcome, #aboutme, #projects, #contactme a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#welcome, #aboutme, #projects, #contactme a:active {
  background-color: white;
  color: black;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}